html{
  background-color: #CCF381;
}
#banner h1 {
  animation: zoomIn 1s ease-in-out;
  animation: pulse 2s ease-in-out infinite;
}
@keyframes zoomIn {
  from {
    transform: scale3d(.5, .5, .5);
    opacity: 0;
  }
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
h1{
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    text-shadow: 0 0 40px #bbee5b;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 60px #a9f122;
    transform: scale(1.1);
  }
  100% {
    text-shadow: 0 0 70px #84ff00;
    transform: scale(1);
  }
  50% {
    text-shadow: 0 0 60px #a9f122;
    transform: scale(1.1);
  }
}
#banner {
  background-color:  white;
  color: black;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 1.3cm;
  transform: translate(-50%, 0);
  width: 100%;
  transition: width 0.5s ease-in-out;
}
#line {
  background-color:  white;
  color: black;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 86%;
  left: 50%;
  font-size: .2cm;
  transform: translate(-50%, 0);
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh; /* 100% of the viewport height */
    margin: 0px;
    
  }
 
  #Gear {
    position: absolute;
    top: 47.65%;
    left: 49.5%;
    transform: translate(0%, 0%);
    width: 1.7%;
    transform-origin: center center;
    transition: transform 0.9s; /* enable smooth transition */
  }
  #Gear:hover { /* when the image is hovered */
    animation-name: spin;
    animation-iteration-count: 1;
    animation-duration: 1.4s;
    animation-fill-mode: forwards;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  #GearButton {
    position: absolute;
    top: 48%;
    left: 50.3%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    margin: 8px 0;
    border-width: 1cm;
    border: black; 
    background: none;
    
  }
  #gridContainer {
    display: none; /* initially hide the grid */
    margin-top: 20px; /* add some space between the button and the grid */
    position: absolute;
    top: 53%;
  }
  .cylinderContainer1 {
    width: 30px; /* total width of the 3 cylinders */
    height: 40px; /* total height of the 3 cylinders */
    float: center;
    margin-right: 10px;
    position: absolute;
    left: -120%;
  }

  #CapButton {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 29%;
    left: 40%;
    border: none;
    background: none;
    box-shadow: 0 0 0px #4831D4;
  }
  #CapButton:hover{
    box-shadow: 0px 0px 50px  #4831D4;

  } 
  #CapButton.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #SymButton {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 182%;
    left: 40%;
    border: none;
    background: none;
  }
  #SymButton:hover{
    box-shadow: 0px 0px 50px  #4831D4;

  } 
  #SymButton.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #Button {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 334%;
    left: 40%;
    border: none;
    background: none;
  }
  #Button:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  }
  #Button.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  } 
  #ButtonOne {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 29%;
    left: 40%;
    border: none;
    background: none;
  }
  #ButtonOne:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  } 
  #ButtonOne.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #ButtonTwo {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 182%;
    left: 40%;
    border: none;
    background: none;
  }
  #ButtonTwo:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  }
  #ButtonTwo.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #ButtonThree {
    position: absolute;
    width: 670%;
    height: 120%;
    top: 334%;
    left: 40%;
    border: none;
    background: none;
  }
  #ButtonThree:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  } 
  #ButtonThree.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #ButtonFour {
    position: absolute;
    width: 183%;
    height: 40%;
    top: 43.3%;
    left: 47%;
    border: none;
    background: none;
  }
  #ButtonFour:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  } 
  #ButtonFour.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #ButtonFive {
    position: absolute;
    width: 183%;
    height: 40%;
    top: 94.3%;
    left: 47%;
    border: none;
    background: none;
  }
  #ButtonFive:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  } 
  #ButtonFive.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  #ButtonSix {
    position: absolute;
    width: 183%;
    height: 40%;
    top: 144.3%;
    left: 47%;
    border: none;
    background: none;
  }
  #ButtonSix:hover{
    box-shadow: 0px 0px 50px  #4831D4;
  } 
  #ButtonSix.glow {
    border: 5px solid #4831D4 ;
    box-shadow: 0px 0px 30 #4831D4;
  }
  .cylinderContainer2 {
    width: 30px; /* total width of the 3 cylinders */
    height: 40px; /* total height of the 3 cylinders */
    float: center;
    margin-right: 10px;
    position: absolute;
    left: 0%;
  }
  .cylinderContainer3 {
    width: 30px; /* total width of the 3 cylinders */
    height: 40px; /* total height of the 3 cylinders */
    float: right;
    margin-right: 100px;
    padding: 40px;
    
  }
  .cylinderContainer4 {
    width: 30px; /* total width of the 3 cylinders */
    height: 40px; /* total height of the 3 cylinders */
    float: right;
    margin-right: 100px;
    padding: 40px;
    position: absolute;
    left: 100%;
    top: -35%;
    
  }
  .cylinder {
    text-align: center;
    text-align: bottom;
    opacity: 80%;
    width: 200px;
    height: 45px;
    border-color:#6f60d0;
    border:  3px solid ;
    border-radius: 5px 5px 5px 5px; /* make the cylinder */
    background: white;
    float: center;
    margin: 10px;
    transition: transform 0.5s; /* enable smooth transition */
  }
  #GenerateButton {
    position: absolute;
    top: 40.1%;
    left: 54.5%;
    transform: translate(-50%, -60%);
    text-align: center;
    padding: 0px 0px;
    margin: 0px;
    border: none; 
    font-size: .6cm;
    color: #4831D4;
    background: none;
    
  }
  #GenerateButton:hover {
    text-shadow: 0 0 20px #4831D4; 
  }
  #unhideButton {
    position: absolute;
    top: 43.7%;
    left: 67%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    margin: 8px 0;
    border: none; 
    background: none;
    font-size: larger;
    color: #4831D4;
  }
  #unhideButton:hover {
    text-shadow: 0 0 14px #4831D4; /* add a white glow around the button */
  }
  label {    
    position: absolute;
    top: 40%;
    left: 47.7%;
    font-weight: bolder;
    transform: translate(-50%, -60%);
    text-align: center;
    font-size: larger;
    margin: auto;
  }
  #myTextbox {
    /*border-width: 0.1cm;*/
    width: 26%;
    padding: 12px 20px;
    margin: 0px;
    font-size: larger;
    box-sizing: border-box;
    text-align: center;
    animation: typing .8s steps(30, end), blink-caret 0.001s step-end infinite;
    
  }
  
 /*makes text box appear cool*/
  /* Animation for typing effect */
  /*@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 26%;
    }
  }*/
  
  /* Animation for blink-caret effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    100% {
      border-color: black;
    }   
  }